{% extends 'base.html' %}


{% block content%}
<ul class="nav nav-tabs">
    {% if current_user.can('view_index')%}
    <li class="nav-item">
        <a class="nav-link {%if request.endpoint == 'stats.index'%}active{% endif%}"
           href="{{ url_for('stats.index') }}">Общая статистика</a>
    </li>
    {% endif %}
    {% if current_user.can('view_by_routes')%}
    <li class="nav-item">
        <a class="nav-link {%if request.endpoint == 'stats.by_routes'%}active{% endif%}"
           href="{{ url_for('stats.by_routes') }}">Статистика по страницам</a>
    </li>
    {% endif %}
    {% if current_user.can('view_by_users')%}
    <li class="nav-item">
        <a class="nav-link {%if request.endpoint == 'stats.by_users'%}active{% endif%}"
           href="{{ url_for('stats.by_users') }}">Статистика по пользователям</a>
    </li>
    {% endif %}
</ul>


{% block stat%}
<h1>Ничего нет</h1>
{% endblock%}

{% endblock%}