{% extends 'base.html' %}

{% block content %}
<h1>Изменение пароля</h1>
<form method="post" action="{{ url_for('change_password') }}">
  <div class="mb-3">
    <label for="currentPassword" class="form-label">Текущий пароль:</label>
    <input type="password" class="form-control" id="currentPassword" name="currentPassword">
    {% if errors.get('currentPassword') %}
      <div class="text-danger">{{ errors.get('currentPassword') }}</div>
    {% endif %}
  </div>
  <div class="mb-3">
    <label for="newPassword1" class="form-label">Новый пароль:</label>
    <input type="password" class="form-control" id="newPassword1" name="newPassword1">
    {% if errors.get('newPassword1') %}
      <div style="white-space: pre;" class="text-danger">{{ errors.get('newPassword1') }}</div>
    {% endif %}
  </div>
  <div class="mb-3">
    <label for="newPassword2" class="form-label">Подтверждение пароля:</label>
    <input type="password" class="form-control" id="newPassword2" name="newPassword2">
    {% if errors.get('newPassword2') %}
      <div class="text-danger">{{ errors.get('newPassword2') }}</div>
    {% endif %}
  </div>
  <button type="submit" class="btn btn-primary">Сохранить</button>
  {% if errors.get('database') %}
    <div class="text-danger mt-3">{{ errors.get('database') }}</div>
  {% endif %}
</form>
{% endblock %}
