{% extends 'stats/base.html' %}
{% from 'pagination.html' import pagination%}

{% block stat %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Название</th>
      <th scope="col">Количество</th>
    </tr>
  </thead>
  <tbody>
    {% for stat in stats %}
    <tr>
      <th scope="row">{{ loop.index }}</th>
      <td>{{ stat.path }}</td>
      <td>{{ stat.count }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

  {{ pagination(page, last_page, request.endpoint) }}
{% endblock %}