{% macro pagination(current_page, last_page, endpoint) %}
<nav aria-label="Page navigation example">
    <ul class="pagination">

        <li class="page-item {{ 'disabled' if current_page <= 1 else '' }}">
            <a class="page-link" href="{{url_for(endpoint, page=current_page-1) if current_page > 1 else '#'}}">←</a>
        </li>

        {% set start = [1, current_page - 2] | max %}
        {% set end = [last_page, current_page + 2] | min %}
        {% for page in range(start, end + 1) %}
        <li class="page-item {% if page == current_page %}active{% endif %}">
            <a class="page-link" href="{{url_for(endpoint, page=page)}}">{{ page }}</a>
        </li>
        {% endfor %}

        <li class="page-item {{ 'disabled' if current_page >= last_page else '' }}">
            <a class="page-link" href="{{url_for(endpoint, page=current_page+1) if current_page < last_page else '#'}}">→</a>
        </li>

    </ul>
</nav>
{% endmacro %}
